<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


</head>

<body>
    {{>navbar}}
    <div class="hero">
        <div class="container">
            <div class="left">
                <h1>The Smarter Way to Learn</h1>
                <h1 class="color">Anything</h1>
                <a class="btn" href="./register">Join</a>
            </div>
            <div class="right">
                <h1>The life of a student is like that of a <span>"warrior"</span> </h1>
                <a class="btn" href="./contact">Contact</a>
            </div>
        </div>
    </div>
    <div class="course">
        <div class="main-heading">
            <h1> Our Course</h1>
            <p>hidden content</p>
        </div>
        <div class="main-cart">
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/mern.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> MERN Development</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/mean.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> MEAN Development</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/node_with_express.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> Nodejs with Expressjs</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/taildwin_with_nextjs.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> Taildwin with Nextjs</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/wordpress.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> Complete Wordpress</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <img src="/img/logo/mongooDB.png" width="50px" alt="">
                </div>
                <div class="heading">
                    <h2> Complete MongoDB</h2>
                </div>
                <div class="para">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dolore, eos tempora nesciunt nisi
                        quibusdam quo fugiat esse fugit corporis!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="staff">
        <div class="main-heading">
            <h1> Our Staff</h1>
            <p>hidden content</p>
        </div>
        <div class="main-cart">


            <div class="cart">
                <div class="img">
                    <div class="icon">
                        <i class="fa-brands fa-facebook facebook"></i>
                        <i class="fa-solid fa-envelopes-bulk mail"></i>
                        <i class="fa-solid fa-phone call"></i>
                    </div>
                    <img src="/img/staff/1.png" alt="">
                </div>
                <div class="name-plate">
                    <h2> Lovia Roi</h2>
                    <h3> Professor</h3>

                </div>

            </div>
            <div class="cart">
                <div class="img">
                    <div class="icon">
                        <i class="fa-brands fa-facebook facebook"></i>
                        <i class="fa-solid fa-envelopes-bulk mail"></i>
                        <i class="fa-solid fa-phone call"></i>
                    </div>
                    <img src="/img/staff/2.png" alt="">
                </div>
                <div class="name-plate">
                    <h2> Join Mittal</h2>
                    <h3> Professor</h3>
                </div>

            </div>
            <div class="cart">
                <div class="img">
                    <div class="icon">
                        <i class="fa-brands fa-facebook facebook"></i>
                        <i class="fa-solid fa-envelopes-bulk mail"></i>
                        <i class="fa-solid fa-phone call"></i>
                    </div>
                    <img src="/img/staff/3.png" alt="">
                </div>
                <div class="name-plate">
                    <h2> Join will</h2>
                    <h3> Professor</h3>
                </div>

            </div>
            <div class="cart">
                <div class="img">
                    <div class="icon">
                        <i class="fa-brands fa-facebook facebook"></i>
                        <i class="fa-solid fa-envelopes-bulk mail"></i>
                        <i class="fa-solid fa-phone call"></i>
                    </div>
                    <img src="/img/staff/4.png" alt="">
                </div>
                <div class="name-plate">
                    <h2> M.Bansal</h2>
                    <h3> Professor</h3>
                </div>

            </div>
        </div>
    </div>
    {{!-- start why section --}}
    <div class="why">
        <div class="main-heading">
            <h1>Why choose us</h1>
        </div>
        <div class="heading-why ">
            <div class="heading-box active first-box">
                <h2>BEST EDUCATION</h2>
                <div class="indigator">

                </div>
            </div>
            <div class="heading-box second-box">
                <h2>TOP MANAGEMENT</h2>
                <div class="indigator">

                </div>
            </div>
            <div class="heading-box third-box">
                <h2>QUALITY MEETING</h2>
                <div class="indigator">

                </div>
            </div>
        </div>
        <div class="main-box">
            <div class="box">
                <div class="left">
                    <div class="img"><img src="img/why/1.png" alt=""></div>
                </div>
                <div class="right">
                    <div class="content">
                        <h2>Best Education</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum provident nobis similique, ipsam nihil adipisci ducimus quis molestiae cum illo quas debitis impedit doloribus consequatur velit quo. Doloribus cumque, ipsa doloremque voluptatum exercitationem voluptas vero minima recusandae</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="left">
                    <div class="img"><img src="img/why/2.png" alt=""></div>
                </div>
                <div class="right">
                    <div class="content">
                        <h2>Top Management</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum provident nobis similique, ipsam nihil adipisci ducimus quis molestiae cum illo quas debitis impedit doloribus consequatur velit quo. Doloribus cumque, ipsa doloremque voluptatum exercitationem voluptas vero minima recusandae quia vel architecto accusamus modi veritatis dignissimos nam inventore quisquam praesentium consectetur?</p>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="left">
                    <div class="img"><img src="img/why/3.png" alt=""></div>
                </div>
                <div class="right">
                    <div class="content">
                        <h2>Quality Meeting</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum provident nobis similique, ipsam nihil adipisci ducimus quis molestiae cum illo quas debitis impedit doloribus consequatur velit quo. Doloribus cumque, ipsa doloremque voluptatum exercitationem voluptas vero minima recusandae quia vel architecto accusamus modi veritatis dignissimos nam inventore quisquam praesentium consectetur?</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{>footer}}
    <script src="/js/home.js"></script>
</body>

</html>