<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <footer class="footer">
        <div class="main">


            <div class="contact">
                <h2> Address</h2>
                <div class="box">
                    <h1>PCEI ARAON</h1>

                    <p>Shivaji Chowk, Opp Gurudev Hotel, Kalyan Mumbai ,Maharashtra,952512207546, Code-421301 India</p>
                </div>
            </div>
            <div class="about">
                <h2>About Me</h2>

                <div class="box">
                      <p> School life is the best time of our life. Every student should try to make the best use of school life because once over, it never comes back again.</p>

                </div>

                  
            </div>
        </div>
        <hr>
        <div class="copy-right">
            <p>
                © Shree Girraj G Group.
                Designed and Developed by: Ramveer Singh
            </p>

        </div>
    </footer>

</body>

</html>